.container.proto-list
  .row
    - products.each do |product|
      .col-sm-4.col-md-3.proto-content
        - if user_signed_in? && product.user_id == current_user.id
          .dropdown
            = button_tag "ACTION", type: "button", class: "btn btn-default dropdown_toggle", id: "dropdownMenu1", data: { toggle: "dropdown" }
            %ul.dropdown-menu{ role: "menu", aria: { labelledby: "dropdownMenu1" }}
              %li{ role: "presentation" }
                = link_to 'Edit', edit_product_path(product), method: :get, role: "menuitem", tabindex: "-1"
              %li{ role: "presentation" }
                = link_to 'Delete', "/products/#{product.id}", method: :delete, role: "menuitem", tabindex: "-1"
        .thumbnail
          = link_to product_path(product) do
            = image_tag(product.product_images.main.first.image)
            .caption
              %h3 #{ product.title }
              .proto-meta
                .proto-user
                  = link_to user_path(product.user) do
                    by #{ product.user.nickname }
                .proto-posted
                  #{product.created_at}
              %ul.proto-tag-list.list-inline
                - product.tags.each do |tag|
                  %li
                    =link_to "#{tag.name}", tag_path(tag.id), class: 'btn btn-default'
