.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to user_path(@user) do
            = image_tag(@user.avatar, style: "width: 64px; height: 64px;", class: "media-object", alt: "64x64")
        .media-body
          %h4#top-aligned-media.media-heading
            #{@product.title}
          .proto-user
            = link_to "by #{@user.nickname}", user_path(@user)
            %span.degree #{@user.member} #{@user.work}
    .col-md-6.text-right
      #like-button
        = render partial: 'likes/like'
  .row
    .col-md-9
      = image_tag(@product.product_images.main.first.image, class: 'img-responsive')
    .col-md-3
      %ul.proto-sub-list.list-group
        %li.list-group-item
          = image_tag(@product.product_images.sub.first.image, class: 'img-responsive')
        %li.list-group-item
          = image_tag(@product.product_images.sub.second.image, class: 'img-responsive')
        %li.list-group-item
          = image_tag(@product.product_images.sub.third.image, class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p #{ @product.catch_copy }
    .col-md-6
      %h4 Concept
      %p #{ @product.concept }
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          = link_to "iPad", "#", class: "btn btn-default"
        %li
          = link_to "writeframe", "#", class:"btn btn-default"
  #comments
    = render partial: 'comments/comment'
  - if user_signed_in?
    .row.proto-comments
      %h4.col-md-8
        .form-inline
          = form_for [@product, @comment], remote: true do |f|
            %h4 Write a comment
            .row
              .form-group.col-md-10
                = f.text_area :text, placeholder: "Your comments", rows: "3", class: "textform-control", id: "comment_text"
              .form-group.col-md-2
                = f.submit "Comment", class: "btn btn-primary"
